.menu_editorbody .topitem, .subitem {
	display: none !important;
    position: absolute;
    margin-top: 7px !important;
    margin-left: -18px !important;
}

.menu_editorbody #adminmenu .wp-submenu label {
    padding: 6px 12px !important;
    color: rgba(240,245,250,.7) !important;
    font-size: 13px;
    line-height: 1.2;
    display: block;
}

.menu_editorbody #adminmenu label.menu-top {
	display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    color: #eee;
}

.menu_editorbody #adminmenu .wp-menu-separator label {
	display: block;
    color: rgba(238, 238, 238, 0.21);
    text-align: center;
    height: 21px;
}

.menu_editorbody .topmenu-items li.wp-menu-separator {
    height: 15px !important;
}

.menu_editorbody label.checked-label {
	background-color: rgba(255, 123, 0, 0.44);
}

.menu_editorbody.allowing label.checked-label {
	background-color: rgba(0, 255, 137, 0.39);
}


/* FOR MOBILE */
.menu_editorbody #adminmenu {
    top: initial !important;
}

.menu_editorbody #adminmenu .wp-submenu {
    display: block !important;
}

.menu_editorbody .submenu-items { width: 100% !important; }